@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Barlow Semi Condensed", sans-serif;
    text-decoration: none;
}

body {
    font-family: 'Arial', sans-serif;
    background: #7776B3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    margin: 0;

  }
  
main {
  padding: 2rem;
  display: flex;
  gap: 2rem;
}
  
  .box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin: 10px 0;
  }

 .content h5{
  line-height: 22px;
    font-size: 18px;
   margin-bottom: 1.1rem !important;
   font-weight: 600;
  }
  
/* BOXES DIV */
.a {
  background-color: hsl(263, 55%, 52%);
  color: hsl(0, 0%, 96%);
}

.a,
.d {
  width: 35vw;
}

.d {
  background-color: hsl(219, 29%, 14%);
  color: hsl(0, 0%, 75%);
}

.b,
.c,
.e {
 width: 20vw; 
}

.b {
  background-color: hsl(218, 20%, 35%);
  color: hsl(0, 0%, 75%);
}

.e {
  color: hsl(218, 20%, 35%);
}

.f,
.h {
  display: flex;
  gap: 2rem;
}
  .profile {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .profile img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border: 1px solid hsl(0, 0%, 82%);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }
  
  .profile h5 {
    margin: 0;
  }
  
  .verify-text {
    margin: 4px 0;
    font-size: 12px;
    color: #a6a6a6;
  }
  
  .content h5 {
    margin: 5px 0 7px 0;
  }
  
  footer {
    margin-top: 20px;
    text-align: center;
    color: hsl(218, 20%, 35%);
    padding: 0 1rem;
  }

  footer a {
    color: hsl(128, 86%, 28%);
  }

  @media only screen and (max-width: 800px) {
    .f,
    .h {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    main {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap:1rem;
    }
    .a,
    .b,
    .c,
    .d,
    .e {
      width: 70vw;
    }
    
  }
  